.subjects .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0.3rem;
  margin-bottom: 1.5rem;
  overflow-x: auto;
}

.subjects .section_title {
  margin-bottom: 1.5rem;
}

.subjects .card {
  width: 25%;
  padding: 1rem;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.subjects .card img {
  width: 100%;
}

.subjects .card:hover {
  box-shadow: 0 0 15px 0 rgba(221, 221, 221, 0.505);
  transform: scale(1.03);
  cursor: pointer;
}

.subjects .card h3 {
  margin-bottom: 0.5rem;
}

.subjects .card span {
  display: block;
  margin: 0.5rem 0;
}

.subjects .card button {
  display: block;
  padding: 5px 10px;
  border: 0;
  background-color: var(--beige);
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
}

.subjects .card button:hover {
  background-color: var(--dark-beige);
}

.subjects .card button:active {
  background-color: var(--beige);
}

.subjects img {
  object-fit: cover;
}

.subjects table {
  width: 100%;
  border-collapse: collapse;
}

.subjects table td,
.subjects table th {
  padding: 0.5rem 1rem;
  border: 1px solid var(--dark-gray);
  text-align: center;
}

.subjects table td button {
  display: inline;
}

.subjects table td button:disabled {
  user-select: none;
  pointer-events: none;
}

.subjects table td button:disabled a {
  color: #999;
}

@media only screen and (max-width: 73.5rem) {
  .subjects .wrapper {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .subjects .wrapper .card {
    width: 33%;
    flex: 1 0 auto;
  }

  .subjects .wrapper .card img {
    width: 100%;
  }
}

@media only screen and (max-width: 44rem) {
  .subjects .wrapper .card {
    width: 50%;
  }
}
